[submodule "akka-cluster-operator"]
	path = akka-cluster-operator
	url = https://github.com/lightbend/akka-cluster-operator
[submodule "engine-operator"]
	path = engine-operator
	url = https://github.com/anchore/engine-operator
[submodule "clickhouse-operator"]
	path = clickhouse-operator
	url = https://github.com/altinity/clickhouse-operator
[submodule "spark-operator"]
	path = spark-operator
	url = https://github.com/radanalyticsio/spark-operator
[submodule "k8s-apim-operator"]
	path = k8s-apim-operator
	url = https://github.com/wso2/k8s-apim-operator
[submodule "apicast-operator"]
	path = apicast-operator
	url = https://github.com/3scale/apicast-operator
[submodule "appsody-operator"]
	path = appsody-operator
	url = https://github.com/appsody/appsody-operator
[submodule "aqua-operator"]
	path = aqua-operator
	url = https://github.com/aquasecurity/aqua-operator
[submodule "argocd-operator"]
	path = argocd-operator
	url = https://github.com/argoproj-labs/argocd-operator
[submodule "atlasmap-operator"]
	path = atlasmap-operator
	url = https://github.com/atlasmap/atlasmap-operator
[submodule "aws-s3-provisioner"]
	path = aws-s3-provisioner
	url = https://github.com/yard-turkey/aws-s3-provisioner
[submodule "kafka-operator"]
	path = kafka-operator
	url = https://github.com/banzaicloud/kafka-operator
[submodule "camel-k"]
	path = camel-k
	url = https://github.com/apache/camel-k
[submodule "cassandra-operator"]
	path = cassandra-operator
	url = https://github.com/instaclustr/cassandra-operator
[submodule "cockroachdb-operator"]
	path = cockroachdb-operator
	url = https://github.com/dmesser/cockroachdb-operator
[submodule "jaeger-operator"]
	path = jaeger-operator
	url = https://github.com/jaegertracing/jaeger-operator
[submodule "composable"]
	path = composable
	url = https://github.com/IBM/composable
[submodule "container-security-operator"]
	path = container-security-operator
	url = https://github.com/quay/container-security-operator
[submodule "postgres-operator"]
	path = postgres-operator
	url = https://github.com/CrunchyData/postgres-operator
[submodule "dynatrace-oneagent-operator"]
	path = dynatrace-oneagent-operator
	url = https://github.com/Dynatrace/dynatrace-oneagent-operator
[submodule "che-operator"]
	path = che-operator
	url = https://github.com/eclipse/che-operator
[submodule "cloud-on-k8s"]
	path = cloud-on-k8s
	url = https://github.com/elastic/cloud-on-k8s
[submodule "esindex-operator"]
	path = esindex-operator
	url = https://github.com/IBM/esindex-operator
[submodule "enmasse"]
	path = enmasse
	url = https://github.com/EnMasseProject/enmasse
[submodule "etcd-operator"]
	path = etcd-operator
	url = https://github.com/coreos/etcd-operator
[submodule "eunomia"]
	path = eunomia
	url = https://github.com/KohlsTechnology/eunomia
[submodule "event-streams-topic"]
	path = event-streams-topic
	url = https://github.com/IBM/event-streams-topic
[submodule "federatorai-operator"]
	path = federatorai-operator
	url = https://github.com/containers-ai/federatorai-operator
[submodule "grafana-operator"]
	path = grafana-operator
	url = https://github.com/integr8ly/grafana-operator
[submodule "operator"]
	path = operator
	url = https://github.com/halkyonio/operator
[submodule "hazelcast-operator"]
	path = hazelcast-operator
	url = https://github.com/hazelcast/hazelcast-operator
[submodule "hpa-operator"]
	path = hpa-operator
	url = https://github.com/banzaicloud/hpa-operator
[submodule "cloud-operators"]
	path = cloud-operators
	url = https://github.com/IBM/cloud-operators
[submodule "cos-bucket-operator"]
	path = cos-bucket-operator
	url = https://github.com/IBM/cos-bucket-operator
[submodule "ibm-spectrum-scale-csi-operator"]
	path = ibm-spectrum-scale-csi-operator
	url = https://github.com/IBM/ibm-spectrum-scale-csi-operator/
[submodule "infinispan-operator"]
	path = infinispan-operator
	url = https://github.com/infinispan/infinispan-operator
[submodule "instana-agent-operator"]
	path = instana-agent-operator
	url = https://github.com/instana/instana-agent-operator
[submodule "iot-simulator-operator"]
	path = iot-simulator-operator
	url = https://github.com/ctron/iot-simulator-operator
[submodule "istio-operator"]
	path = istio-operator
	url = https://github.com/banzaicloud/istio-operator
[submodule "kubernetes-operator"]
	path = kubernetes-operator
	url = https://github.com/jenkinsci/kubernetes-operator
[submodule "keda-olm-operator"]
	path = keda-olm-operator
	url = https://github.com/kedacore/keda-olm-operator
[submodule "keycloak-operator"]
	path = keycloak-operator
	url = https://github.com/keycloak/keycloak-operator
[submodule "kiali"]
	path = kiali
	url = https://github.com/kiali/kiali
[submodule "eventing-operator"]
	path = eventing-operator
	url = https://github.com/knative/eventing-operator
[submodule "serving-operator"]
	path = serving-operator
	url = https://github.com/knative/serving-operator
